services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes: 
      - backend_static:/app/staticfiles:Z
      - ./backend:/app:Z
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8080:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - VITE_API_URL=http://localhost:8080/api/
    volumes:
      - ./frontend:/app:Z
    depends_on:
      - backend
    # - db
    ports:
      - "5173:5173"
      


  db:
    image: postgres:14-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME:-mydb}
      POSTGRES_USER: ${DB_USER:-admin}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-admin}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 2s
      timeout: 2s
      retries: 7

volumes:
  postgres_data:
  backend_static:
