.header {
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 50px;
    }

    &__logo {
        fill: $primary-accent;
        width: 40px;
        height: 40px;
        background-color: $primary-accent;
        border-radius: 50%;
    }
}
