.home-page {
    max-width: em(1110);
    background-color: $primary-dark-accent;
    padding: 30px 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 2%;
    // overflow-y: auto;
    
}
