.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    &__add-btn {
        font-size: 36px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 50px;
    }

    &__mentors {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap:30px;
        width: 100%;
    }
}
