body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary-dark;
    color: $primary-light;
}

button {
    background-color: $primary-accent;
    font-size: 16px;
    line-height: 1.5;
    padding: 5px 15px;
    border-radius: 10px;
    color: $primary-light;
    transition: background-color 0.15s ease;

    // box-shadow: 0 6px 10px rgba(0, 0, 0, 1);

    &:hover {
        background-color: $primary-accent-hover;
        // box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    }
}
