$maxWidth: 1920;
$maxWidthContainer: 1170;

// type:
// 1 → only below container width
// 2 → only above container width
// 0 → always adaptive
@mixin adaptive-value($property, $startSize, $minSize, $type: 0) {
  $addSize: $startSize - $minSize;

  @if $type == 1 {
    // Only below container width
    #{$property}: #{$startSize}px;

    @media (max-width: #{$maxWidthContainer}px) {
      #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / (#{$maxWidthContainer} - 320)));
    }

  } @else if $type == 2 {
    // Only above container width
    #{$property}: #{$startSize}px;

    @media (min-width: #{$maxWidthContainer}px) {
      #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / (#{$maxWidth} - 320)));
    }

  } @else {
    // Always adaptive
    #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / (#{$maxWidth} - 320)));
  }
}


// %

@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

// REM

@function re($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// EM

@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}
